@import "backgrounds.css";
@import "typo.css";
@import "hovers.css";
@import "navbar.css";
@import "dropdown.css";
@import "footer.css";
@import "mobilelayout.css";
@import "cookie.css";



/* 

    HTML tags style 

*/

body {
    user-select: none;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

button {
    background: inherit;
    color: inherit;
    border: 1px;
    transition: 0.7s;
    border-radius: 4px;
}

span + span {
    margin-left: 10px;
}

p a {
    color: inherit;
    text-decoration: inherit;
}

/*

    HTML/CSS ID style

*/

#cache {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 600px;
    margin-left: -500px;
    margin-top: -300px;
    background-color: #000000;
    text-align: center;
    z-index: 10;
    visibility: hidden;
    color: #ffffff;
}

/* 

    HTML/CSS classes style 
    
*/

.lang-btn {
    font-size: 30px;
    color: inherit;
    width: max-content;
    height: max-content;
    padding: 10px;
}
.main-doc {
    margin: 0;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
    float: right;
    min-width: 70%;
    min-height: 98%;
    max-width: 70%;
    background-color: #111111;
    border-radius: 4px;
}
.SitesForm{
    min-width: 300px;
    min-height: 300px;
    width: 40%;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
    top: 10%;
    left: 35%;
    right: auto;
    z-index: 10;
    position: absolute;
    border-radius: 4px;
}
.SitesForm input {
    font-size: 30px;
    white-space: nowrap;
}
.WarnDiv {
    width: 80%;
    height: max-content;
    max-height: fit-content;
    margin-left: 30px;
    background: #dd3704c9;
    border-left: solid 8px #d35908;
    border-radius: 4px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}
.show{
    display:block!important
}
.hide{
    display:none!important
}

/* 

    Dev defined Html Tags 

*/
tag {
    color: rgb(19, 123, 207);
}

/*

    WE NOW STYLES THE SCROLLBAR

*/

body::-webkit-scrollbar {
    width: 1em;
    transition: 0.3s;
}

body::-webkit-scrollbar-thumb {
    background-color: #444444;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #ce580a;
}

body::-webkit-scrollbar-track {
    color: #1a1a1a;
}