@media screen and (max-width: 814px) {
    .navbar {
        height: 90%;
        z-index: 1;
        font-size: 15px;
    }
    .main-doc {
        height: 100%;
    }
    .mid-text {
        font-size: 20px;
    }
    .SitesForm{
        min-width: 300px;
        min-height: 300px;
        width: fit-content;
        height: fit-content;
        max-width: 100%;
        max-height: 100%;
        top: 10%;
        left: 35%;
        right: auto;
        z-index: 10;
        position: absolute;
        border-radius: 4px;
    }
    input {
        font-size: 10px;
    }
    footer {
        z-index: 10;
    }
}
@media (max-width:600px){
    .hide-small{
        display:none!important
    }
    .navbar {
        margin-left: -10%;
    }
}
@media (min-width:993px){
    .hide-large{
        display:none!important
    }
}
@media (max-width:992px) and (min-width:601px){
    .hide-medium{
        display:none!important
    }
}