/*
    WE SET THE INITIAL STYLE FOR NAVBAR FOR COMPUTER SCREENS & TV.
*/
@media screen and (min-width: 815px){
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 25%;
        height: 98%; 
        background-color: #111111;
        position: fixed; /* Make it stick, even on scroll */
        overflow: auto; /* Enable scrolling if the sidenav has too much content */
        border-radius: 4px;
        margin-left: 0%;
    }
    
}
/*
    WE SET THE DIFFERENTS VARIATIONS FOR THE DIFFERENTS TYPES OF SCREENS AND DEVICES, IT MEANS
    MOBILES AND TABLETS.
*/

@media screen and (max-width: 814px) {
    .navbar {
        height: 90%;
        z-index: 1;
        font-size: 15px;
    }
    .main-doc {
        height: 100%;
    }
    .mid-text {
        font-size: 20px;
    }
    .SitesForm{
        min-width: 300px;
        min-height: 300px;
        width: fit-content;
        height: fit-content;
        max-width: 100%;
        max-height: 100%;
        top: 10%;
        left: 35%;
        right: auto;
        z-index: 10;
        position: absolute;
        border-radius: 4px;
    }
    input {
        font-size: 10px;
    }
    footer {
        z-index: 10;
    }
}
@media (max-width:600px){
    .hide-small{
        display:none!important
    }
    .navbar {
        margin-left: -10%;
    }
    
@media (min-width:993px){
    .hide-large{
        display:none!important
    }
}
@media (max-width:992px) and (min-width:601px){
    .hide-medium{
        display:none!important
    }
    button {
        background: inherit;
        color: inherit;
        border: 1px;
        transition: 0.7s;
        border-radius: 4px;
        width: 80px;
    }
    .lang-btn {
        font-size: 70px;
        color: #f9300c;
    }
}
}
@media (max-width: 448px){
    .big-text{
        font-size: 40px
    }
}
@media (max-width: 356px){
    .big-text {
        font-size: 30px;
        overflow: hidden;
    }
    .main-doc {
        overflow: hidden;
    }
    footer {
        overflow: hidden;
    }
}