ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 98%; 
    background-color: #111111;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    border-radius: 4px;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.4s;
}
.active {
    background-color: #c0550d;
    color: white;
}