/* DOM elements*/
body {
  transition: 0.7s;
  overflow-x: hidden;
}

a {
  color: #27e0a9;
  transition: 0.7s;
}

header {
  display: inline-flex;
  width: 100%;
  overflow-x: hidden;
  align-items: center;
  padding: 5px;
  border-bottom: #727272 solid 1px;
}

footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px;
  color: #6d6b6b;
  background-color: #111111;
  text-align: center;
  border-top: #727272 solid 1px;
}

footer a {
  color: inherit;
}

.hi {
  font-size: 42px;
  position: relative;
  padding: 5px;
  left: 25%;
  border-right-width: 0px;
  border-right-style: solid;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* User-defined styles of Divs*/
.header-title {
  font-size: 34px;
  text-align: center;
  display: flex;
  flex-basis: 92%;
}
.header-title a {
  color: inherit;
  text-decoration: inherit;
}
.header-title a:hover {
  color: #27e0a9;
  text-decoration: underline;
}

.header-tools {
  display: flex;
  flex-basis: 8%;
  flex-direction: column;
  gap: 5px;
}


.main-title {
  font-size: 28px;
  text-align: left;
  text-decoration: underline;
}

.nav-title {
  font-size: 24px;
  text-align: left;
  text-decoration: solid;
}

.theme-button {
  padding: 2px;
  border: none;
  border-radius: 5px;
}
.theme-button:active, .theme-button:hover {
  border: 1px #27e0a9;
}

.footer-wrap {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  align-items: center;
  flex-direction: row;
}
.footer-subwrap {
  display: flex;
  width: 50%;
  overflow-x: hidden;
  flex-direction: column;
}

.main-nav {
  background-color: #000;
  width: 100%;
}

/* 'Grand Oral' elements */
.go-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center
}
.grand-oral {
  text-align: center;
  font-size: 20px;
}
.go-data {
  display: block;
}


/* Background Style */

.dark-bg {
  background-color: #1e1e1e;
}
.light-bg {
  background-color: #c3c3c3;
}

.black-bg {
  background-color: #000000;
}
.white-bg {
  background-color: #ffffff;
}

/* Foreground Style */

.white-fg {
  color: #ffffff;
}
.black-fg {
  color: #000000;
}
.grey-fg {
  color: #727272
}

/* Style Sheets by ID */
#dark-theme-bt {
  color: #fff;
  background: #424242;

}
#dark-theme-bt:hover {
  border: 1px;
  border-color: #fff;
}
#light-theme-bt {
  color: #000;
  background: #f1f1f1;
}
#blue-theme-bt {
  color: #fff;
  background-color: #0aa2e9;
}