/*

  HTML Native tags

*/
body {
  background-color: #1a1a1a;
  color: #ffffff;
  user-select: none;
}
header {
  font-size: 32px;
  text-align: center;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: 0.4s;
}
a:hover {
  color: #00b2e9;
}

footer {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: max-content;
  padding: 5px;
  background-color: #111111;
  color: #fff;
  font-size: 18px;
  text-align: center;
  user-select: none;
}
span {
  font-size: inherit;
}

indic {
  text-align: right;
}

/*

  HTML/CSS Classes

*/

.graph-div {
  text-align: center;
  object-position: center;
  padding: 10px;
}

.graph-menu {
  font-size: 50px;
}

.graph {
  padding: 10px;
  width: max-content;
  height: max-content;
}

.header-text {
  background: -webkit-linear-gradient(120deg, #8de203 10%, #00b2e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .7s;
}

.dropbtn {
  background-color: inherit;
  color: white;
  padding: 16px;
  width: 98%;
  font-size: max-content;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: 0.7s;
  user-select: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.753);
}

/* The container <div> - needed to position the dropdown content */
.click-dropdown {
  text-align: center;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  z-index: 1;
  transition: 1.7s;
}
.graph {
  background-image: "../original-graph/data/img/heart.png";
}
.grimg {
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
}
.grimg10 {
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  background-image: url("/sites/dnl/original-graph/data/img/heart10.png");
}
.grimg30 {
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  background-image:  url("/sites/dnl/original-graph/data/img/heart30.png");
}
.grimg50 {
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  background-image: url("/sites/dnl/original-graph/data/img/heart50.png");
}
.grimg70 {
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  background-image: url("/sites/dnl/original-graph/data/img/heart70.png");
}
.grimg80 {
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  background-image: url("/sites/dnl/original-graph/data/img/heart80.png");
}
.grimg100 {
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  background-image: url("/sites/dnl/original-graph/data/img/heart100.png");
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




body::-webkit-scrollbar {
  width: 1em;
  transition: 0.3s;
}

body::-webkit-scrollbar-thumb {
  background-color: #444444;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #0ace83;
}

body::-webkit-scrollbar-track {
  color: #1a1a1a;
}